### How to Run the App

#### Prerequisites
- **Programming Language:** [Python](https://www.python.org/)
- **Libraries:** `telegram`, `aiohttp`, `asyncio`
- **Files:** `script.py`, `config.json` (both in the same directory)

#### How to Install the Libraries
1. **Install pip (if not already available):**
   - Refer to the [official Python documentation](https://packaging.python.org/tutorials/installing-packages/) for instructions on installing pip for your operating system.

2. **Open your terminal:**
   - This is a command-line interface, often called "Terminal" (macOS/Linux) or "Command Prompt" (Windows).

3. **Navigate to your project directory:**
   - Use the `cd` command in your terminal to change directories. For example:
     ```
     cd Desktop/site-monitor
     ```

4. **Install the libraries:**
   - Once you're in the correct directory, type the following command and press Enter:
     ```
     pip install telegram aiohttp asyncio
     ```
   - This command tells `pip` to install 'telegram', 'aiohttp', and 'asyncio'.

#### Running the App
Finally, you can go to the directory with the file in the command prompt and type:
```bash
python script.py
