###

----This file is a guide on how to run the app.



----Prerequisites:
Programming Language: "Python" --> https://www.python.org/
Libraries:"requests; python-telegram-bot"
Files:"script.py; config.json". They need to be in the same directory.

---- How to Install the Libraries:

1. **Install pip (if not already available):**
   * Refer to the official Python documentation for instructions on installing pip for your operating system. --> https://packaging.python.org/tutorials/installing-packages/

2. **Open your terminal:**
   * This is a command-line interface, often called "Terminal" (macOS/Linux) or "Command Prompt" (Windows).

3. **Navigate to your project directory:**
   * Use the `cd` command in your terminal to change directories. For example:

     "cd Desktop/site-monitor"

4. **Install the libraries:**
   * Once you're in the correct directory, type the following command and press Enter:

     "pip install requests python-telegram-bot"


   * This command tells `pip` to install 'requests' and 'python-telegram-bot'

----By following these steps, you'll have the necessary libraries installed to run this project.


----Finally, you can go to the directory with the file in the command prompt and type "python script.py".
###



